
.my-container
{
	display: flex;
	align-items: flex-end;
	width: 100%;
	border-width: 1px;
	border-color: red;
	border-style: solid;

	height: 300px;
}

.container-item
{

	background-color: blue;
	margin:1%;
	width: 20%;
	height: 200px; 

}

.myfont
{
	font-size: 20px;
	font-weight: bolder;
	color: white;
	text-align: center;
}

